ConsoleApp1/Connected Services/ServiceReference1/SytechService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFREST" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFREST" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPeoplePOCO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PeoplePOCO" nillable="true" type="tns:PeoplePOCO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPeoplePOCO" nillable="true" type="tns:ArrayOfPeoplePOCO" />
  <xs:complexType name="PeoplePOCO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeoplePOCO" nillable="true" type="tns:PeoplePOCO" />
</xs:schema>