ConsoleApp1/Connected Services/ServiceReference1/SytechService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4007/SytechService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://localhost:4007/SytechService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFREST" />
  <xs:element name="GetIdeas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdeasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetIdeasResult" nillable="true" type="q1:ArrayOfIdeaPOCO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIdea">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ideaText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="personId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIdeaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeople">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeopleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFREST" minOccurs="0" name="GetPeopleResult" nillable="true" type="q2:ArrayOfPeoplePOCO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>