ConsoleApp1/Connected Services/ServiceReference1/SytechService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WCFREST/SytechService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFREST" />
  <xs:element name="GetPeople">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeopleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFREST" minOccurs="0" name="GetPeopleResult" nillable="true" type="q1:ArrayOfPeoplePOCO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdeas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdeasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFREST" minOccurs="0" name="GetIdeasResult" nillable="true" type="q2:ArrayOfIdeaPOCO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>