ConsoleApp1/Connected Services/ServiceReference2/SytechService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SytechService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WCFREST/SytechService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WCFREST/SytechService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WCFREST/SytechService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost/WCFREST/SytechService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFREST" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISytech_GetIdeas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdeas" />
  </wsdl:message>
  <wsdl:message name="ISytech_GetIdeas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdeasResponse" />
  </wsdl:message>
  <wsdl:message name="ISytech_SaveIdea_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveIdea" />
  </wsdl:message>
  <wsdl:message name="ISytech_SaveIdea_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveIdeaResponse" />
  </wsdl:message>
  <wsdl:message name="ISytech_GetPeople_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPeople" />
  </wsdl:message>
  <wsdl:message name="ISytech_GetPeople_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPeopleResponse" />
  </wsdl:message>
  <wsdl:portType name="ISytech">
    <wsdl:operation name="GetIdeas">
      <wsdl:input wsaw:Action="http://tempuri.org/ISytech/GetIdeas" message="tns:ISytech_GetIdeas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISytech/GetIdeasResponse" message="tns:ISytech_GetIdeas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveIdea">
      <wsdl:input wsaw:Action="http://tempuri.org/ISytech/SaveIdea" message="tns:ISytech_SaveIdea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISytech/SaveIdeaResponse" message="tns:ISytech_SaveIdea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPeople">
      <wsdl:input wsaw:Action="http://tempuri.org/ISytech/GetPeople" message="tns:ISytech_GetPeople_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISytech/GetPeopleResponse" message="tns:ISytech_GetPeople_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="SytechService" />
</wsdl:definitions>