ConsoleApp1/Connected Services/ServiceReference2/SytechService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfIdeaPOCO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IdeaPOCO" nillable="true" type="tns:IdeaPOCO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIdeaPOCO" nillable="true" type="tns:ArrayOfIdeaPOCO" />
  <xs:complexType name="IdeaPOCO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdeaText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IdeaPOCO" nillable="true" type="tns:IdeaPOCO" />
</xs:schema>